<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Checker</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="jumbotron">
        <p>Welcome to Password Check</p>
        <p>Lets see if your password is secure!</p>
        <p>Your password must contain the following: </p>
        <ul>
            <li>Must contain a capital letter</li>
            <li>Must contain a lowercase letter</li>
            <li>Must have a number at the end</li>
            <li>Must contain 8 characters</li>
        </ul>
        {% if message %}
        <h3 class="text-center">{{ message }}</h3>
        {% endif %}
        <form action="{{url_for('report')}}">
            <label for="usr">Username: </label>
            <input type="text" name="username" id="username">
            <label for="psw">Password: </label>
            <input type="password" name="password" id="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <input type="submit" value="Submit Form">
        </form>
    </div>
    {% endblock %}
</body>
</html>